[Unit]
Description=Guilty Git Repository Manager
After=network.target

[Service]
Type=simple
User=git
ExecStart=/home/git/.guilty/guilty
WorkingDirectory=/home/git/.guilty
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
